[Unit]
Description=Synchronize playlist with lcd
After=mpd.service

[Service]
Type=forking

User=volumio
Group=volumio
UMask=007

ExecStart=/home/volumio/ROSELCDd.sh

ExecReload=/bin/kill -HUP $MAINPID
KillMode=process

Restart=on-failure

# Configures the time to wait before service is stopped forcefully.
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
Alias=lcd-sync.service
