[Unit]
Description=VoolumIO startup script
After=network.target mpd.service

[Service]
ExecStart=/home/volumio/ROSELCDd.py
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
